<!DOCTYPE html>
<html>
<head>
    <title>Student Scores</title>
</head>
<body>
    <h1>Student Scores</h1>
    <form method="POST" action="/update_scores">
        <table>
            <tr>
                <th>Student</th>
                <th>Assignment 1</th>
                <th>Assignment 2</th>
                <th>Assignment 3</th>
                <th>Assignment 4</th>
                <th>Assignment 5</th>
                <th>Average</th>
            </tr>
            {% for student in students %}
            <tr>
                <td>{{ student['name'] }}</td>
                {% for score in student['scores'] %}
                <td><input type="number" name="score_{{ student['name'] }}_{{ loop.index }}" value="{{ score }}"></td>
                {% endfor %}
                <td>{{ calculate_average(student['scores']) }}</td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit">Update Scores</button>
    </form>
</body>
</html>
